Repository acode-11/aside-k9p5np, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @ai-team, @backend-team, @security-team, @detection-team, @search-team, @collaboration-team, @frontend-team, @devops-team, @database-team

Add public-samples/aside-k9p5np/infrastructure/terraform/aws/rds/main.tf
  infrastructure/terraform/aws/rds/main.tf
Owners: @devops-team

Add public-samples/aside-k9p5np/infrastructure/terraform/aws/rds/variables.tf
  infrastructure/terraform/aws/rds/variables.tf
Owners: @devops-team

Add public-samples/aside-k9p5np/infrastructure/terraform/aws/route53/main.tf
  infrastructure/terraform/aws/route53/main.tf
Owners: @devops-team

Add public-samples/aside-k9p5np/infrastructure/terraform/aws/route53/variables.tf
  infrastructure/terraform/aws/route53/variables.tf
Owners: @devops-team

Add public-samples/aside-k9p5np/infrastructure/terraform/aws/s3/main.tf
  infrastructure/terraform/aws/s3/main.tf
Owners: @devops-team

Add public-samples/aside-k9p5np/infrastructure/terraform/aws/s3/variables.tf
  infrastructure/terraform/aws/s3/variables.tf
Owners: @devops-team

Add public-samples/aside-k9p5np/infrastructure/terraform/aws/vpc/main.tf
  infrastructure/terraform/aws/vpc/main.tf
Owners: @devops-team

Add public-samples/aside-k9p5np/infrastructure/terraform/aws/vpc/variables.tf
  infrastructure/terraform/aws/vpc/variables.tf
Owners: @devops-team

Add public-samples/aside-k9p5np/infrastructure/terraform/aws/waf/main.tf
  infrastructure/terraform/aws/waf/main.tf
Owners: @devops-team

Add public-samples/aside-k9p5np/infrastructure/terraform/aws/waf/variables.tf
  infrastructure/terraform/aws/waf/variables.tf
Owners: @devops-team

Add public-samples/aside-k9p5np/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/.env.example
  src/backend/.env.example
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/README.md
  src/backend/README.md
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/package.json
  src/backend/package.json
Owners: @platform-leads, @frontend-team

Add public-samples/aside-k9p5np/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/ai-service/Dockerfile
  src/backend/ai-service/Dockerfile
Owners: @devops-team

Add public-samples/aside-k9p5np/src/backend/ai-service/pyproject.toml
  src/backend/ai-service/pyproject.toml
Owners: @ai-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/ai-service/requirements.txt
  src/backend/ai-service/requirements.txt
Owners: @platform-leads, @backend-team

Add public-samples/aside-k9p5np/src/backend/ai-service/src/__init__.py
  src/backend/ai-service/src/__init__.py
Owners: @ai-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/ai-service/src/main.py
  src/backend/ai-service/src/main.py
Owners: @ai-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/ai-service/src/config/settings.py
  src/backend/ai-service/src/config/settings.py
Owners: @ai-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/ai-service/src/models/detection_model.py
  src/backend/ai-service/src/models/detection_model.py
Owners: @ai-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/ai-service/src/services/openai_service.py
  src/backend/ai-service/src/services/openai_service.py
Owners: @ai-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/ai-service/src/utils/model_utils.py
  src/backend/ai-service/src/utils/model_utils.py
Owners: @ai-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/ai-service/tests/test_ai_service.py
  src/backend/ai-service/tests/test_ai_service.py
Owners: @ai-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @devops-team

Add public-samples/aside-k9p5np/src/backend/api-gateway/kong.yml
  src/backend/api-gateway/kong.yml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/api-gateway/plugins/cors-config.lua
  src/backend/api-gateway/plugins/cors-config.lua
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/api-gateway/plugins/jwt-validator.lua
  src/backend/api-gateway/plugins/jwt-validator.lua
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/api-gateway/plugins/rate-limiting.lua
  src/backend/api-gateway/plugins/rate-limiting.lua
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @devops-team

Add public-samples/aside-k9p5np/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @platform-leads, @frontend-team

Add public-samples/aside-k9p5np/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/auth-service/src/index.ts
  src/backend/auth-service/src/index.ts
Owners: @security-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/auth-service/src/config/auth.config.ts
  src/backend/auth-service/src/config/auth.config.ts
Owners: @security-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @security-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/auth-service/src/middleware/jwt.middleware.ts
  src/backend/auth-service/src/middleware/jwt.middleware.ts
Owners: @security-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/models/user.model.ts
Owners: @security-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @security-team, @backend-team

.github/CODEOWNERS:

# This file defines mandatory reviewers for different components of the system
# Format: pattern    owner1 owner2 ...

# Global ownership - Platform leads are the default owners for unspecified files
*    @platform-leads

# Backend Services
# AI Service - Requires both AI and backend expertise
src/backend/ai-service/**    @ai-team @backend-team

# Authentication Service - Requires security team review
src/backend/auth-service/**    @security-team @backend-team

# Detection Service - Combines detection and backend expertise
src/backend/detection-service/**    @detection-team @backend-team

# Translation Service - Cross-platform detection conversion
src/backend/translation-service/**    @detection-team @backend-team

# Search Service - Detection discovery functionality
src/backend/search-service/**    @search-team @backend-team

# Collaboration Service - Community features
src/backend/collaboration-service/**    @collaboration-team @backend-team

# Frontend Application
src/web/**    @frontend-team

# Infrastructure and DevOps
infrastructure/**    @devops-team
**/Dockerfile    @devops-team
.github/workflows/**    @devops-team @platform-leads

# Shared Components
src/backend/shared/**    @backend-team @platform-leads

# Database
src/backend/db/migrations/**    @backend-team @database-team

# API Definitions
**/*.proto    @backend-team @platform-leads

# Security Configuration
**/security/**    @security-team

# Documentation ownership follows component ownership
docs/backend/**    @backend-team
docs/frontend/**    @frontend-team
docs/infrastructure/**    @devops-team
docs/security/**    @security-team

# Test ownership follows component ownership
test/backend/**    @backend-team
test/frontend/**    @frontend-team
test/infrastructure/**    @devops-team
test/security/**    @security-team

# Configuration files require platform oversight
*.yaml    @platform-leads
*.yml    @platform-leads
*.json    @platform-leads

# Build and dependency files
package.json    @platform-leads @frontend-team
go.mod    @platform-leads @backend-team
requirements.txt    @platform-leads @backend-team

# Root level configuration requires platform leads approval
/*.md    @platform-leads
/*.yml    @platform-leads
/*.yaml    @platform-leads
/*.json    @platform-leads
