Repository acode-11/aside-k9p5np, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @ai-team, @backend-team, @security-team, @detection-team, @search-team, @collaboration-team, @frontend-team, @devops-team, @database-team

.github/CODEOWNERS:

# This file defines mandatory reviewers for different components of the system
# Format: pattern    owner1 owner2 ...

# Global ownership - Platform leads are the default owners for unspecified files
*    @platform-leads

# Backend Services
# AI Service - Requires both AI and backend expertise
src/backend/ai-service/**    @ai-team @backend-team

# Authentication Service - Requires security team review
src/backend/auth-service/**    @security-team @backend-team

# Detection Service - Combines detection and backend expertise
src/backend/detection-service/**    @detection-team @backend-team

# Translation Service - Cross-platform detection conversion
src/backend/translation-service/**    @detection-team @backend-team

# Search Service - Detection discovery functionality
src/backend/search-service/**    @search-team @backend-team

# Collaboration Service - Community features
src/backend/collaboration-service/**    @collaboration-team @backend-team

# Frontend Application
src/web/**    @frontend-team

# Infrastructure and DevOps
infrastructure/**    @devops-team
**/Dockerfile    @devops-team
.github/workflows/**    @devops-team @platform-leads

# Shared Components
src/backend/shared/**    @backend-team @platform-leads

# Database
src/backend/db/migrations/**    @backend-team @database-team

# API Definitions
**/*.proto    @backend-team @platform-leads

# Security Configuration
**/security/**    @security-team

# Documentation ownership follows component ownership
docs/backend/**    @backend-team
docs/frontend/**    @frontend-team
docs/infrastructure/**    @devops-team
docs/security/**    @security-team

# Test ownership follows component ownership
test/backend/**    @backend-team
test/frontend/**    @frontend-team
test/infrastructure/**    @devops-team
test/security/**    @security-team

# Configuration files require platform oversight
*.yaml    @platform-leads
*.yml    @platform-leads
*.json    @platform-leads

# Build and dependency files
package.json    @platform-leads @frontend-team
go.mod    @platform-leads @backend-team
requirements.txt    @platform-leads @backend-team

# Root level configuration requires platform leads approval
/*.md    @platform-leads
/*.yml    @platform-leads
/*.yaml    @platform-leads
/*.json    @platform-leads

Add public-samples/aside-k9p5np/src/backend/auth-service/src/utils/token.utils.ts
  src/backend/auth-service/src/utils/token.utils.ts
Owners: @security-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/auth-service/tests/auth.test.ts
  src/backend/auth-service/tests/auth.test.ts
Owners: @security-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/collaboration-service/Dockerfile
  src/backend/collaboration-service/Dockerfile
Owners: @devops-team

Add public-samples/aside-k9p5np/src/backend/collaboration-service/package.json
  src/backend/collaboration-service/package.json
Owners: @platform-leads, @frontend-team

Add public-samples/aside-k9p5np/src/backend/collaboration-service/tsconfig.json
  src/backend/collaboration-service/tsconfig.json
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/collaboration-service/src/index.ts
  src/backend/collaboration-service/src/index.ts
Owners: @collaboration-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/collaboration-service/src/config/websocket.config.ts
  src/backend/collaboration-service/src/config/websocket.config.ts
Owners: @collaboration-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/collaboration-service/src/controllers/collaboration.controller.ts
  src/backend/collaboration-service/src/controllers/collaboration.controller.ts
Owners: @collaboration-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/collaboration-service/src/models/community.model.ts
  src/backend/collaboration-service/src/models/community.model.ts
Owners: @collaboration-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/collaboration-service/src/services/realtime.service.ts
  src/backend/collaboration-service/src/services/realtime.service.ts
Owners: @collaboration-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/collaboration-service/src/utils/socket.utils.ts
  src/backend/collaboration-service/src/utils/socket.utils.ts
Owners: @collaboration-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/collaboration-service/tests/collaboration.test.ts
  src/backend/collaboration-service/tests/collaboration.test.ts
Owners: @collaboration-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/db/migrations/000001_init_schema.down.sql
  src/backend/db/migrations/000001_init_schema.down.sql
Owners: @backend-team, @database-team

Add public-samples/aside-k9p5np/src/backend/db/migrations/000001_init_schema.up.sql
  src/backend/db/migrations/000001_init_schema.up.sql
Owners: @backend-team, @database-team

Add public-samples/aside-k9p5np/src/backend/db/migrations/000002_add_detection_tables.down.sql
  src/backend/db/migrations/000002_add_detection_tables.down.sql
Owners: @backend-team, @database-team

Add public-samples/aside-k9p5np/src/backend/db/migrations/000002_add_detection_tables.up.sql
  src/backend/db/migrations/000002_add_detection_tables.up.sql
Owners: @backend-team, @database-team

Add public-samples/aside-k9p5np/src/backend/db/migrations/000003_add_community_tables.down.sql
  src/backend/db/migrations/000003_add_community_tables.down.sql
Owners: @backend-team, @database-team

Add public-samples/aside-k9p5np/src/backend/db/migrations/000003_add_community_tables.up.sql
  src/backend/db/migrations/000003_add_community_tables.up.sql
Owners: @backend-team, @database-team

Add public-samples/aside-k9p5np/src/backend/detection-service/Dockerfile
  src/backend/detection-service/Dockerfile
Owners: @devops-team

Add public-samples/aside-k9p5np/src/backend/detection-service/go.mod
  src/backend/detection-service/go.mod
Owners: @platform-leads, @backend-team

Add public-samples/aside-k9p5np/src/backend/detection-service/go.sum
  src/backend/detection-service/go.sum
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/detection-service/cmd/main.go
  src/backend/detection-service/cmd/main.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/detection-service/internal/config/config.go
  src/backend/detection-service/internal/config/config.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/detection-service/internal/handlers/detection.go
  src/backend/detection-service/internal/handlers/detection.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/detection-service/internal/models/detection.go
  src/backend/detection-service/internal/models/detection.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/detection-service/internal/repository/mongodb.go
  src/backend/detection-service/internal/repository/mongodb.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/detection-service/internal/services/detection.go
  src/backend/detection-service/internal/services/detection.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/detection-service/internal/validation/rules.go
  src/backend/detection-service/internal/validation/rules.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/detection-service/tests/detection_test.go
  src/backend/detection-service/tests/detection_test.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/k8s/ai-service-deployment.yaml
  src/backend/k8s/ai-service-deployment.yaml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/k8s/api-gateway-deployment.yaml
  src/backend/k8s/api-gateway-deployment.yaml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/k8s/auth-service-deployment.yaml
  src/backend/k8s/auth-service-deployment.yaml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/k8s/collaboration-service-deployment.yaml
  src/backend/k8s/collaboration-service-deployment.yaml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/k8s/configmaps.yaml
  src/backend/k8s/configmaps.yaml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/k8s/detection-service-deployment.yaml
  src/backend/k8s/detection-service-deployment.yaml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/k8s/search-service-deployment.yaml
  src/backend/k8s/search-service-deployment.yaml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/k8s/translation-service-deployment.yaml
  src/backend/k8s/translation-service-deployment.yaml
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/search-service/Dockerfile
  src/backend/search-service/Dockerfile
Owners: @devops-team
