Repository acode-11/aside-k9p5np, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @ai-team, @backend-team, @security-team, @detection-team, @search-team, @collaboration-team, @frontend-team, @devops-team, @database-team

Add public-samples/aside-k9p5np/src/backend/search-service/pyproject.toml
  src/backend/search-service/pyproject.toml
Owners: @search-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/search-service/requirements.txt
  src/backend/search-service/requirements.txt
Owners: @platform-leads, @backend-team

Add public-samples/aside-k9p5np/src/backend/search-service/src/__init__.py
  src/backend/search-service/src/__init__.py
Owners: @search-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/search-service/src/main.py
  src/backend/search-service/src/main.py
Owners: @search-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/search-service/src/config/elasticsearch.py
  src/backend/search-service/src/config/elasticsearch.py
Owners: @search-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/search-service/src/models/search_model.py
  src/backend/search-service/src/models/search_model.py
Owners: @search-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/search-service/src/services/search_service.py
  src/backend/search-service/src/services/search_service.py
Owners: @search-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/search-service/src/utils/query_builder.py
  src/backend/search-service/src/utils/query_builder.py
Owners: @search-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/search-service/tests/test_search.py
  src/backend/search-service/tests/test_search.py
Owners: @search-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/shared/proto/auth.proto
  src/backend/shared/proto/auth.proto
Owners: @backend-team, @platform-leads

Add public-samples/aside-k9p5np/src/backend/shared/proto/detection.proto
  src/backend/shared/proto/detection.proto
Owners: @backend-team, @platform-leads

Add public-samples/aside-k9p5np/src/backend/shared/proto/search.proto
  src/backend/shared/proto/search.proto
Owners: @backend-team, @platform-leads

Add public-samples/aside-k9p5np/src/backend/shared/proto/translation.proto
  src/backend/shared/proto/translation.proto
Owners: @backend-team, @platform-leads

Add public-samples/aside-k9p5np/src/backend/shared/schemas/community.schema.json
  src/backend/shared/schemas/community.schema.json
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/shared/schemas/detection.schema.json
  src/backend/shared/schemas/detection.schema.json
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/shared/schemas/platform.schema.json
  src/backend/shared/schemas/platform.schema.json
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/backend/translation-service/Dockerfile
  src/backend/translation-service/Dockerfile
Owners: @devops-team

Add public-samples/aside-k9p5np/src/backend/translation-service/go.mod
  src/backend/translation-service/go.mod
Owners: @platform-leads, @backend-team

Add public-samples/aside-k9p5np/src/backend/translation-service/go.sum
  src/backend/translation-service/go.sum
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/translation-service/cmd/main.go
  src/backend/translation-service/cmd/main.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/translation-service/internal/config/config.go
  src/backend/translation-service/internal/config/config.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/translation-service/internal/handlers/translate.go
  src/backend/translation-service/internal/handlers/translate.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/translation-service/internal/models/format.go
  src/backend/translation-service/internal/models/format.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/translation-service/internal/platforms/edr.go
  src/backend/translation-service/internal/platforms/edr.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/translation-service/internal/platforms/nsm.go
  src/backend/translation-service/internal/platforms/nsm.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/translation-service/internal/platforms/siem.go
  src/backend/translation-service/internal/platforms/siem.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/translation-service/internal/services/translator.go
  src/backend/translation-service/internal/services/translator.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/backend/translation-service/tests/translation_test.go
  src/backend/translation-service/tests/translation_test.go
Owners: @detection-team, @backend-team

Add public-samples/aside-k9p5np/src/web/.env.development
  src/web/.env.development
Owners: @frontend-team

Add public-samples/aside-k9p5np/src/web/.env.production
  src/web/.env.production
Owners: @frontend-team

Add public-samples/aside-k9p5np/src/web/.env.test
  src/web/.env.test
Owners: @frontend-team

Add public-samples/aside-k9p5np/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team

Add public-samples/aside-k9p5np/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/aside-k9p5np/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/aside-k9p5np/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/aside-k9p5np/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/aside-k9p5np/src/web/package.json
  src/web/package.json
Owners: @platform-leads, @frontend-team

Add public-samples/aside-k9p5np/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @platform-leads

Add public-samples/aside-k9p5np/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/aside-k9p5np/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team

.github/CODEOWNERS:

# This file defines mandatory reviewers for different components of the system
# Format: pattern    owner1 owner2 ...

# Global ownership - Platform leads are the default owners for unspecified files
*    @platform-leads

# Backend Services
# AI Service - Requires both AI and backend expertise
src/backend/ai-service/**    @ai-team @backend-team

# Authentication Service - Requires security team review
src/backend/auth-service/**    @security-team @backend-team

# Detection Service - Combines detection and backend expertise
src/backend/detection-service/**    @detection-team @backend-team

# Translation Service - Cross-platform detection conversion
src/backend/translation-service/**    @detection-team @backend-team

# Search Service - Detection discovery functionality
src/backend/search-service/**    @search-team @backend-team

# Collaboration Service - Community features
src/backend/collaboration-service/**    @collaboration-team @backend-team

# Frontend Application
src/web/**    @frontend-team

# Infrastructure and DevOps
infrastructure/**    @devops-team
**/Dockerfile    @devops-team
.github/workflows/**    @devops-team @platform-leads

# Shared Components
src/backend/shared/**    @backend-team @platform-leads

# Database
src/backend/db/migrations/**    @backend-team @database-team

# API Definitions
**/*.proto    @backend-team @platform-leads

# Security Configuration
**/security/**    @security-team

# Documentation ownership follows component ownership
docs/backend/**    @backend-team
docs/frontend/**    @frontend-team
docs/infrastructure/**    @devops-team
docs/security/**    @security-team

# Test ownership follows component ownership
test/backend/**    @backend-team
test/frontend/**    @frontend-team
test/infrastructure/**    @devops-team
test/security/**    @security-team

# Configuration files require platform oversight
*.yaml    @platform-leads
*.yml    @platform-leads
*.json    @platform-leads

# Build and dependency files
package.json    @platform-leads @frontend-team
go.mod    @platform-leads @backend-team
requirements.txt    @platform-leads @backend-team

# Root level configuration requires platform leads approval
/*.md    @platform-leads
/*.yml    @platform-leads
/*.yaml    @platform-leads
/*.json    @platform-leads
